ul {
  padding: 0;
}

li {
  list-style: none;
}

.mybtn {
  background-color: #36b5c5;
}
.mybtn:hover {
  background-color: #239bab;
}

#lean_overlay{
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

